body {
  margin: 0;
  background: #f4decb;
  background: -webkit-linear-gradient(to left, #f4decb , #f8eee7);
  background: linear-gradient(to left, #f4decb , #f8eee7);
}

.modal-header {
  padding:9px 15px;
  color: white;
  border-bottom:1px solid #49274a;
  background-color: #94618e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}